<div class="container">
  <!-- <ul class="breadcrumb">
    <li><a href="/"><%= theme.menu.主页 %></a></li>
    <li class="active">Publication</li>
  </ul> -->
  <div id="main">
    <h1>新闻</h1>
    <%- partial('_partial/archive', {pagination: config.archive, index: true,
    showLatest:true}) %>
  </div>
</div>
