<% if(page.content){ %> <%- page.content %> <% } else { %>
<div class="container">
  <!-- <ul class="breadcrumb">
    <li class="active">Home</li>
  </ul> -->
  <div id="main">
    <div
      class="row"
      style="
        color: #0c0c0c;
        font-size: 15px;
        font-family: 'Open Sans', 'Roboto', Arial, sans-serif;
        font-size: 16px;
      "
    >
    <div class="rows">
      <div class="col-md-8 col-sm-8">
        <img src="https://www.strictlyvc.com/wp-content/uploads/2014/06/synthetic-biology.jpg">
      </div>
      <div class="col-md-4 col-sm-4">
        <h2>
          <b>
            LuckyCloud laboratory
          </b>
        </h2>
        <h4>地点：浙江工业大学</h4>
        <h4>简介：Lorem ipsum dolor sit amet, vocibus habemus appetere te est. 
          Sit id nobis euismod epicuri, nam no ubique probatus. 
          Usu ex platonem delicata torquatos, eu duis justo eum. 
        </h4>
        <h4>联系方式：lab_emal@email.com</h4>

      </div>
    </div>
    <hr class="blog-post-sep" />
    <div class="rows"></div>
    <%- partial('_partial/archive', {pagination: config.archive, index: true,
    showLatest:true}) %>
  </div>
</div>
<% } %>
