<% if(page.content){ %> <%- page.content %> <% } else { %>
<div class="container">
  <!-- <ul class="breadcrumb">
    <li class="active">Home</li>
  </ul> -->
  <div id="main">
    <div
      class="row"
      style="
        color: #0c0c0c;
        font-size: 15px;
        font-family: 'Open Sans', 'Roboto', Arial, sans-serif;
        font-size: 16px;
      "
    >
      <div class="col-md-6 col-sm-6">
        <img
          src="https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-research-medical-gene-cell-background-image_201754.jpg"
          class="img-responsive"
        />
      </div>
      <div class="col-md-6 col-sm-6">
        <h1 style="margin-bottom: 35px; margin-top: 25px">LuckyCloud 实验室</h1>
        <div>
          <p>地址：浙江工业大学信息与通信学院</p>
          <p>成立时间：1990 年 3 月 25 日</p>
          <p>联系方式：1300334234</p>
        </div>
      </div>
    </div>
    <hr class="blog-post-sep" />
    <%- partial('_partial/archive', {pagination: config.archive, index: true,
    showLatest:true}) %>
  </div>
</div>
<% } %>
