<% if(page.content){ %> <%- page.content %> <% } else { %>
<div class="container">
  <!-- <ul class="breadcrumb">
    <li class="active">Home</li>
  </ul> -->
  <div id="main">
    <div class="row">
      <div class="col-md-7 col-sm-7">
        <img
          src="https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-research-medical-gene-cell-background-image_201754.jpg"
          class="img-responsive"
        />
      </div>
      <div class="col-md-5 col-sm-5">
        <p style="font-size: 18px">名称：LuckyCloud 实验室</p>
        <p style="font-size: 18px">地址：Address</p>
        <p style="font-size: 18px">成立时间：1990 年 3 月 25 日</p>
        <p style="font-size: 18px">联系方式：1300334234</p>
      </div>
    </div>
    <hr class="blog-post-sep" />
    <%- partial('_partial/archive', {pagination: config.archive, index: true,
    showLatest:true}) %>
  </div>
</div>
<% } %>
