<div class="row">
  <div class="col-xs-12 blog-posts">
    <div class="col-md-8 col-sm-8 blog-posts">
      <img src="https://www.strictlyvc.com/wp-content/uploads/2014/06/synthetic-biology.jpg" >
    </div>
    <div class="col-md-4 col-sm-4">
      <h2><b>LuckyCloud laboratory/b></h2>
      <h4>地点：浙江工业大学</h4>
      <h4>
        简介：Lorem ipsum dolor sit amet, vocibus habemus appetere te est. Sit id nobis euismod epicuri, nam no ubique probatus. Usu ex platonem delicata torquatos, eu duis justo eum.
      </h4>
      <h4>联系方式：lab_emal@email.com</h4>
    </div>
  </div>
</div>
<hr class="blog-post-sep" />
