<div class="row">
  <div class="col-xs-12 blog-posts">
    <div class="col-md-8 col-sm-8 blog-posts">
      <img
        src="https://www.strictlyvc.com/wp-content/uploads/2014/06/synthetic-biology.jpg"
        alt=""
      />
    </div>
    <div class="col-md-4 col-sm-4">
      <h3>名称：xxxxxx</h3>
      <h3>地址：xxxxx</h3>
      <h3>成立时间：xxxxx</h3>
      <h3>联系方式：xxxxx</h3>
    </div>
  </div>
</div>
<hr class="blog-post-sep" />
